.E404 {
    font-family: papyrus;
	height: 75%;
    width: 70%;
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color:#F6F6F6; 
    transform: translate(-50%,-50%);
    transform: translate3d(-50%,-50%,0);
    margin-top: 3%;
    text-align: center;
}

#goBackBtn {
    background-color: #003049; 
    border: none;
    color: #FDF0D5;
    padding: 10px 10px;
    font-size: 12px;
  }

#title {
    padding-left: 45%;
    font-size: 65px;
    color: #003049; 
}

#fix {
    padding-top: 150px;
}

